<!DOCTYPE html>
<html>
<head>
<title>Login Page </title>
<link href="css/login.css" rel="stylesheet">
<!-- <link rel="stylesheet" type="text/css" href="public/css/login.css" -->
</head>
<body>
  <div class="login-box">
    <h1 style="color: aliceblue;text-align: center;">WELCOME TO G.L.E.M COMPANY!</h1>
    <h2>Login Page</h2>
    <form>
      <div class="user-box">
        <input id="user" type="text" name="" required="">
        <label>Username</label>
      </div>
      <div class="user-box">
        <input id="pass" type="password" name="" required="">
        <label>Password</label>
      </div>
      <a href="/dashboard">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        Login
      </a>
      
    </form>
  </div>
 

</body>
</html>

