<!DOCTYPE html>
<html>

<head>
    <title>Login Page</title>
    <link href="css/login.css" rel="stylesheet">
    <link rel="shortcut icon" type="image/x-icon" href="https://i.ibb.co/Vm7PGwB/Logo.png">
    <!-- <link rel="stylesheet" type="text/css" href="public/css/login.css" -->
</head>

<body>
<div class="login-box" onkeydown="enter()">
    <div class="logo">
        <img src="https://i.ibb.co/4dfK1RZ/0587a81c-623f-4938-8932-291cbaab4e5b-200x200.png" alt="Logo"
             border="0"></a><br/><br/>
    </div>
    <h1 style="color:#3d3b38 ;text-align: center;">Contractors Management System</h1>
    <h2>Login Page</h2>
    <form id="login-form">
        <div id="radioBtnIdentity" class="user-box-checkbox">
            <label class="identityCheckBox" for="identity1">HR
            <input type="radio" name="identity" id="identity1" value="HR"></label>
            <label class="identityCheckBox" for="identity2">Employer
            <input type="radio" name="identity" id="identity2" value="Emp"></label>
            <label class="identityCheckBox" for="identity3">Other
            <input type="radio" name="identity" id="identity3" value="Other"></label>

        </div>
        <div class="user-box">
            <input id="user" type="text" name="user" required="">
            <label>Username</label>
        </div>
        <div class="user-box">
            <input id="pass" type="password" name="pass" required="">
            <label>Password</label>
            <div style="display: flex;justify-content: center;">
                <a id="login_btn" onclick="check()">
                    <span></span>
                    <span></span>
                    <span></span>
                    Login
                </a>
            </div>
            <div class="signup">
                <a id="A1" href="src/validations/loginPage.js">first time here ? </a>
                <a id="A2" href="src/validations/loginPage.js">sign up</a>
            </div>
            <script>
                const loginForm = document.getElementById("login-form");
                const loginButton = document.getElementById("login_btn");


                this.enter = function () {
                    if (event.keyCode == 13) 
                        document.getElementById('login_btn').click()
                }

                this.check = function () {
                    const username = loginForm.user.value;
                    const password = loginForm.pass.value;
                    const radioBtnSelect = document.querySelector('input[name="identity"]:checked')
                    let identity = radioBtnSelect ? radioBtnSelect.value : "empty" ;
                    // console.log(HR_Users_Collection.find({firstName:"Lior"}).toArray(function (err, result){
                    //     if (err) {
                    //         console.log(err);
                    //     } else {
                    //         console.log(JSON.stringify(result));
                    //     }
                    // }))
                    // alert(user + pass);
                    if ( identity==="empty") {
                        swal({
                            title: "identity field is empty\n",
                            text: "Please fill identity field",
                            icon: "warning",
                        });
                    }else if ( password.length<6) {
                        swal({
                            title: "Password too short\n",
                            text: "Password have to be more then 6 char",
                            icon: "warning",
                        });
                    }else if ( username.length<1) {
                        swal({
                            title: "User name is required field.\n",
                            text: "Enter user name",
                            icon: "warning",
                        });
                    }else if(password=="123456" && username=="GLEM"){
                        window.location = "/dashboard";
                    } else {
                        swal({
                            title: "Wrong Username Or Password",
                            text: "TRY\n username: GLEM \n password: 123456",
                            icon: "warning",
                        });
                    }
                }
            </script>
            <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

    </form>
</div>
<div style="position: absolute; bottom: 8px; left: 16px; font-size: 12px;color:#3d3b38;">
    Copyright 2021 &copy; GLEM TECH LTD.
</div>

</body>

</body>

</html>
