<div class="col-md-8">
    <div class="card card-profile" style="border-radius: 15px;padding: 0.6rem;margin: 1rem 0;">
      <div class="row">
        <div class="col-md-1">
          <div class="form-group">
            <label class="bmd-label-floating" style="font-size: 18px;">Where: </label>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label class="bmd-label-floating" style="font-size: 18px;">Date: </label>
          </div>
        </div>
        <div class="col-md-0">
          <div class="form-group">
            <label class="bmd-label-floating" style="font-size: 18px;">Status:
            </label>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-1">
          <div class="form-group">
            <label class="bmd-label-floating" style="font-size: 18px;">By: </label>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label for="expertise" style="font-size: 18px;">Company: </label>
          </div>
        </div>
        <div class="col-md-1">
          <div class="row">
            <div class="form-group">
              <button type="button" rel="tooltip" title="Approve" class="btn btn-link btn-sm"
                style="padding: 0 !important;margin: 0 !important;">
                <i class="material-icons"
                  style="font-size: 24px; margin-left: 0.5rem;color: green;">check_circle_outline</i>
              </button>
              <button type="button" rel="tooltip" title="Denied" class="btn btn-link btn-sm"
                style="padding: 0 !important;margin: 0 !important;">
                <i class="material-icons"
                  style="font-size: 24px; margin-left: 0.5rem;color: red;">highlight_off</i>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-3">
    <div class="card card-profile" style="border-radius: 15px;margin: 1rem 0;">
      <div class="row">
        <div class="col-md-12">
          <div class="form-group">
            <label class="bmd-label-floating" style="font-size: 18px;">From :
              12:30</label>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <label class="bmd-label-floating" style="font-size: 18px;margin-bottom: -0.5rem;">To :
            17:00</label>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="form-group">
            <button type="submit" class="update-btn btn btn-primary btn-sm"
              style="font-size: 0.8rem;border-radius: 15px;">Report</button>
          </div>
        </div>
      </div>
    </div>
  </div>